.login-card {
    background: linear-gradient(90deg, #E6E6FA 0% 100%);
    color: black;
    margin-top: 20%;
    width: 120%;
    /* margin-left: 5%;
    margin-right: 5%; */
}

.login-row {
    margin-top: 5%;
}

.login-image {
    margin-left: -25%;
}