.login-card {
    background: linear-gradient(90deg, #E6E6FA 0% 100%);
    color: black;
    margin-top: 14%;
    width: 120%;
    /* margin-left: 5%; */
    /* margin-right: 25%; */
}

.login-row {
    margin-top: 8%;
   
}

.login-image-signin {
    margin-left: 30%;
    width: 40rem;
    height :40 rem;
}
@media screen and (max-width: 425px){
    .login-image-signin {
        width:80%;
    }
    .login-card {
        height: 30%;
        width: 80%;
        /* margin-left: 5%; */
        /* margin-right: 25%; */
    }
}