.form-control:focus {
    border-color: #0A79DF;
}

.branch-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2px;
}

.student-login {
    border: solid 1px;
    border-radius: 12px;
    padding: 8px;
}

.student-login-card {
    display: flex;
    justify-content: center;
    min-width: 50%;
    margin-bottom: 50px;
}

.card-title {
    font-weight: bolder;
    color: #0A79DF;
    font-size: 20px;
}

.regd-field {
    text-transform: uppercase;
}